.logo{
  display: flex;
  justify-content: center;  
}

.logo img{  
  width: 80%;  
}

.input{
 text-align: center;
 margin: 1rem; 
}

.input input{
  height: 2rem;
  margin: 1rem;
  width: 50%;
  border-radius: .5rem;
  color: rgb(129, 33, 33);
}

.input button{
  height: 2.25rem;
  border-radius: 1rem;
  background-color: #6b400b;
  color: rgba(12, 179, 213, 0.986);
}

.location{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #ff90c8;
  color: rgba(95, 141, 168, 0.855);
  text-align: center;
}

.locationInfo{
  display: flex;
  text-align: center;
}

.resident{
  display: flex;  
  margin: 1rem;
  border: 1px solid #ff90c8;
  border-radius: 1rem;
  background-color: #fbff90;
}

.resident img{
  width: 80%;
  margin: 1rem 0px 1rem 1rem;  
}


.residentInfo{
  width: 80%;  
  color:rgb(234, 21, 21)
}